<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">更新日志</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;更新日志 1.0.1</h3>
        <ul>
            <li>开放周报提交记录查看权限，现在可以查看其它人所提交的周报了</li>
            <li>增加删除权限，只能删除自己提交的周报，管理员除外</li>
            <li>为周报提交记录加入排序规则：时间倒序</li>
            <li>写了些更新日志</li>
        </ul>
    </div>
</div>
</body>
</html>